@model IEnumerable<MoodFix.Models.Fix>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="heading-text">
    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.heading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maintext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.backvalue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nextvalue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.heading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maintext)
            </td>
            <td>                
                <img src="~/images/@item.image" class="tableimg" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.backvalue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nextvalue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                  <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
