@model AIRelief.Models.Question

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.heading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.heading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maintext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maintext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.backvalue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.backvalue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nextvalue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nextvalue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer8)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
