@using AIRelief.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject AIReliefContext Context
@inject UserManager<IdentityUser> UserManager
@inject IStringLocalizer<SharedAdminNavResource> L

@{
    var user = await UserManager.GetUserAsync(User);
    var appUser = user == null ? null : await Context.Users.FirstOrDefaultAsync(u => u.Email == user.Email);

    var isGroupAdmin = appUser?.AuthLevel == AuthLevel.GroupAdmin;
    var isSystemAdmin = appUser?.AuthLevel == AuthLevel.SystemAdmin;
}

@if (isGroupAdmin || isSystemAdmin)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            @L["Administration"]
        </a>
        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            @if (isGroupAdmin)
            {
                <li><a class="dropdown-item" href="/Admin/GroupAdmin/Index">@L["GroupUsers"]</a></li>
                <li><a class="dropdown-item" href="/Admin/GroupAdmin/GroupSettings">@L["GroupSettings"]</a></li>
                <li><a class="dropdown-item" href="/Admin/GroupAdmin/GroupStatistics">@L["GroupStatistics"]</a></li>
            }
            @if (isSystemAdmin)
            {
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/Admin/SystemAdmin/Groups">@L["ManageGroups"]</a></li>
                <li><a class="dropdown-item" href="/Admin/SystemAdmin/Users">@L["ManageUsers"]</a></li>
                <li><a class="dropdown-item" href="/Admin/SystemAdmin/SystemAdmins">@L["ManageSystemAdmins"]</a></li>
                <li><a class="dropdown-item" href="/Admin/SystemAdmin/BulkQuestions">@L["QuestionBulkManagement"]</a></li>
            }
        </ul>
    </li>
}